* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
}

html, body {
	overflow: hidden;
}
#finnyfishlogo {
  height: 77.92vh ;
  width: 36vw;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#startButton{
  height: 12vh;
  width: 22w;
  cursor: pointer;
  position: absolute;
  bottom: 8%;
}

.background {
  opacity: 0.9; 
  width: 100vw;
  background-size: 100% 100%; 
  background-position: center center; 
  display: flex; 
  justify-content: center; 
  align-items: end; 
  position: relative;
	height: 100vh;
	background: url('images/background-img.png') no-repeat center center fixed;
  overflow: hidden;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
}
.bird {
	height: 23vh;
	width: 14vw;
	position: fixed;
	top: 40vh;
	left: 30vw;
	z-index: 100;
}
.pipe_sprite {
  position: fixed;
  top: 40vh;
  left: 100vw;
  height: 70vh;
  width: 22vw;
  background-size: 100% 100%; 
}
.upper-pipe {
  background-image: url('images/tre_log\ 2.png');
}
.lower-pipe {
  background-image: url('images/tre_log\ 7.png');
}
.message {
	position: absolute;
	z-index: 10;
	color: black;
	top: 80%;
	left: 50%;
	font-size: 1rem;
	transform: translate(-50%, -50%);
	text-align: center;
}
.messageStyle{
	padding: 30px;
	border-radius: 5%;
}
@media only screen and (max-width: 1080px) {
    .message{
		font-size: 50px;
		top: 50%;
		white-space: nowrap;
	}
	.bird{
		width: 8rem;
		height: 8rem;
	}
	.pipe_sprite{
		width: 74vw;
	}
}
.coin {
  width: 4rem; 
  height: 4rem; 
  background-size: cover;
}
.food {
  filter: drop-shadow(0 0 20px #e4b716);
  width: 5rem; 
  height: 6rem; 
  background-size: cover;
}
#startPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  height: 100vh;
}
.popup ,.popup2{
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  /* background-color: white; */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.popup img,.popup2 img{
  max-width: 100%;
  max-height: 100%;
}
.hide {
  display: none;
}
.close,.close2 {
  position: absolute;
  top: 17px;
  right: 42px;
  cursor: pointer;
  font-size: 60px;
  color: #000;
}
.close:hover,.close2:hover {
  color: #358ad2;
}
.newPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.newPopup img {
  max-width: 100%;
  max-height: 100%;
}
.hide {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}
body {
  overflow: hidden;
}
.custom-modal-dialog {
  max-width: 800px;
  width: 100%;
}
.modal-content {
  background-color: white;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-size: cover; 
	border: 5px solid #FF3767;
  width: 96%; 
  max-width: 800px;
}
.modal-header {
  border-radius: 50px;
  height: 9vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  background-image: url('images/Timer_BG-removebg-preview\ 2.png');
      -ms-flex-pack: end;
          justify-content: end;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.modal-body {
  text-align: center;
}
#contentDiv {
  height: auto;
  margin: 0% 0% 1% 0%;
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}
.radio-container label {
  margin-bottom: 5px;
  border-radius: 15px;
  font-size: 1em;
  background-color: rgb(233, 236, 210);
  color: #060506;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease,
    -webkit-box-shadow 0.3s ease;
  transition: background-color 0.3s ease, -webkit-transform 0.3s ease,
    -webkit-box-shadow 0.3s ease;
  -o-transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease, -webkit-transform 0.3s ease,
    -webkit-box-shadow 0.3s ease;
  text-align: left;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation: fadeInLeft 0.5s ease;
          animation: fadeInLeft 0.5s ease;
  border: 3px solid #FF3767;
  font-weight: bolder;
  background-size: cover;
  background-position: center center;
  box-sizing: border-box;
}

.radio-container label:hover {
  background-color: #c6b6df;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
input {
  margin-right: 2%;
}
#continueButton {
  height: 8.5vh;
  width: 10vw;
  cursor: pointer;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#error-text {
  color: #c30202;
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: 500;
  text-align: center;
}
.hide {
  display: none;
}

.radio-container {
  padding: 0% 2%;
}

.modal-body {
  text-align: center;
}

#questionText {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 0.1px;
  color: #000000;
  text-align: left;
  border-radius: 8px;
  padding: 0.5rem;
  background-color: #A7ECFD;
}
#error-text {
  color: #f01111;
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: 500;
  text-align: center;
}
#timerContainerimg {
  position: absolute;
  top: 0.5rem;
  right: 0.7rem;
  font-family: 'Press Start 2P', cursive; 
  padding: 0.5rem;
  padding-left: 3.2rem;
  border-radius: 1rem;
  font-weight: 500;
  z-index: 1;
  color: #000;
  text-align: right;
  background-image: url(images/Timer\ \(2\).png);
  background-position: center center;
  background-size: 100% 100%;
  height: 8vh;
  width: 4vw;
}
#timer {
  position: absolute;
  top: 42%;
  left: 40%;
  font-size: 1rem;
  color: #000;
}
#logo{
  position: absolute;
  top: 0.5rem;
  left: 0.7rem;
  background-image: url(images/Flippy\ Flamingo\ Logo\ small.png);
  background-position: center center;
  background-size: 100% 100%;
  height: 8vh;
  width: 6.5vw;
}
.modal-body {
  text-align: center;
}
.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 11vh;
}
#timer-icon {
  width: 5vh;
  height: 4vh;
  position: absolute;
  left: 0%;
  z-index: 1;
}
.logo-img {
  height: 50vh;
  width: 22vw;
}
#score{
  display: none;
}
.score-box{
  position: absolute;
  right: 0.7rem;
  top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 4rem;
  border-radius: 1rem;
  font-weight: 500;
  z-index: 1;
  color: #000;
  background-image: url(images/Score\ Board\ 1.png);
  background-position: center center;
  background-size: 100% 100%;
  height: 12vh;
  width: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}
.score-box span {
  position: relative;
  top: 4.9rem; 
  right: 1.2rem;
  font-weight: bold;
}
#timerContainer1 {
  display: none; 
  position: absolute;
  top: 0.7rem;
  left: 0.7rem;
  padding: 0.5rem;
  padding-left: 3.2rem;
  border-radius: 1rem;
  font-weight: 500;
  z-index: 1;
  color: #000;
  text-align: right;
  background-image: url(images/Timer\ \(2\).png);
  background-position: center center;
  background-size: 100% 100%;
  height: 10vh;
  width: 5vw;
}
#customTimer {
  position: absolute;
  top: 44%;
  left: 43%;
  font-size: 1rem;
  color: #000;
  font-weight: bold;
}
.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
}
@media (max-width: 768px) {
  .popup,.popup2 {
    padding: 15px;
    border-radius: 8px;
    width: 94%;
  }
  .close,.close2 {
    top: 14px;
    right: 24px;
    font-size: 38px;
  }
  .newPopup {
    padding: 0px;
    border-radius: 8px;
    width: 90%;
  }
}
@media (max-width: 480px) {
  .modal-content {
    border-radius: 30px;
    border: 3px solid #FF3767;}
  .coin {
    width: 3rem; 
    height: 3rem;
  }
  .food {
    width: 4rem; 
    height: 5rem; 
  }
  #finnyfishlogo {
    height: 64vh ;
    width: 98vw;
  }
  #startButton{
    height: 11vh;
  }
  .logo-img {
    height: 35vh;
    width: 50vw;
  }
  .popup img,.popup2 img {
    height: 44vh;
  }
  .newPopup img {
    width: 90vw;
    height: 40vh;
  }
  #continueButton {
    height: 7.5vh;
    width: 28vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 5px;
  }
  .hide {
    display: none;
  }
  .radio-container {
    padding: 0% 4%;
  }
  #questionText {
    font-weight: 600;
    /* color: #c4bfbf; */
    text-align: left;
    margin: 0%;
    font-size: 1em;
    text-align: left;
    border-radius: 13px;
    padding: 0.5rem;
  }
  .modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
  }
  #error-text {
    color: #f01111;
    font-size: 1.5rem;
    margin-top: 10px;
    font-weight: 500;
    text-align: center;
  }
  #timerContainerimg{
    width: 18%;
  }
  #timer {
    top: 39%;
    font-size: 0.8rem;
    left: 41%;
  }
  #logo{
    height: 8vh;
    width: 20vw;
  }
  #error-text {
    color: #f01111;
    font-size: 1.5rem;
    margin-top: 10px;
    font-weight: 500;
    text-align: center;
  }
  .radio-container label::before {
    background: rgba(255, 255, 255, 0.2);
  }
  .radio-container label {
    margin-bottom: 4px;
    border-radius: 10px;
    font-size: 1em;
    background-color: white;
    color: #000000;
    padding: 5px;
    cursor: pointer;
    -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease,
      -webkit-box-shadow 0.3s ease;
    transition: background-color 0.3s ease, -webkit-transform 0.3s ease,
      -webkit-box-shadow 0.3s ease;
    -o-transition: background-color 0.3s ease, transform 0.3s ease,
      box-shadow 0.3s ease;
    transition: background-color 0.3s ease, transform 0.3s ease,
      box-shadow 0.3s ease;
    transition: background-color 0.3s ease, transform 0.3s ease,
      box-shadow 0.3s ease, -webkit-transform 0.3s ease,
      -webkit-box-shadow 0.3s ease;
    background-size: cover;
    background-position: center center;
    text-align: left;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-weight: bolder;
    -webkit-animation: fadeInLeft 0.5s ease;
            animation: fadeInLeft 0.5s ease;
    border: 2px solid black;
  }
}

input[type="radio"] {
  accent-color: #FF3767;
  cursor: pointer;
}
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 600px) {
  #timerContainer1 {
    width: 18%;
  }
  #customTimer {
    top: 45%;
    font-size: 0.5rem;
    left: 45%;
  }
  .score-box{
    width: 20%;
    height: 10vh;
    font-size: 0.8rem;
    padding-left: 2.5rem;
  }
  .score-box span {
    position: relative;
    top: 2.6rem; 
    /* right: 0.2rem; */
    font-weight: bold;
    font-size: 0.5rem;
  }
}